:root {
  --bg-color: white;
  --font-content-color: #7E7F7A;
  --font-header-color: white;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --font-content-color: white;
  --font-header-color: white;
}

body {
  background-color: var(--bg-color);
}

footer {
  background-color: var(--bg-color);
}

h1, h2, h3 {
  color: var(--font-content-color);
}

a {
  color: var(--font-content-color);
}

p {
  color: var(--font-content-color);
}

span {
  color: var(--font-content-color);
}

label {
  color: var(--font-content-color);
}

.header-heading {
  color: var(--font-header-color);
}

.header-subheading {
  color: var(--font-header-color);
}

.header-datetime {
  color: var(--font-header-color);
}

/* CSS for light-dark theme toggle switch. */
.theme-switch-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.slider-label {
  color: var(--font-header-color);
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 22px;
  font-size: 1rem;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
