<!DOCTYPE html>
{% extends "base.html" %}
{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 class="header-heading">Über mich</h1>
              <span class="subheading header-subheading">Wer bin ich denn?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            Ich bin Daniel, ein Typ aus Dublin der fast sein ganzes Leben in dieser faszinierenden Stadt verbracht hat.
            Ansonsten habe ich in Deutschland gewohnt und immer suche mein Deutsch zu verbessern. Daher ist die Idee dieses Bloges entstanden.
            <br><br>
            Wenn Sie mir helfen können, die Sprachqualität einer Artikel zu verbessern, melden Sie sich gerne bei mir!
            Z.b wenn Sie Fehler in einem Artikel entdeckt haben oder verbesserte Formulierung vorschlagen wollen.
            <br><br>
            Email: daniel.gallagher1@ucdconnect.ie
          </p>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
