<!DOCTYPE html>
{% extends "base.html" %}
{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='contact-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Edit Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" enctype="multipart/form-data" action="{{ url_for('base.edit', slug=post.slug) }}" novalidate>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                  {{ form.title.label }}
                  {{ form.title }}
                  {% if form.title.errors %}
                  <ul class="errors">
                    {% for error in form.title.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{ form.subtitle.label }}
                {{ form.subtitle }}
                  {% if form.subtitle.errors %}
                  <ul class="errors">
                    {% for error in form.subtitle.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{ form.slug.label }}
                {{ form.slug }}
                  {% if form.slug.errors %}
                  <ul class="errors">
                    {% for error in form.slug.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              </div>
            </div>

            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form.author.label }}
                {{ form.author }}
                  {% if form.author.errors %}
                  <ul class="errors">
                    {% for error in form.author.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{ form.content.label }}
                {{ form.content }}
                {% if form.content.errors %}
                <ul class="errors">
                  {% for error in form.content.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>

            <br>
            {{ form.submit }}
          </form>
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='content') }}
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
