<!DOCTYPE html>
{% extends "base.html" %}
{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
		<h1>Von 'nem Dubliner</h1>
              <span class="subheading">Artikel zum Thema Dublin</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{{ url_for('base.post', slug=post.slug) }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">{{post.date_posted.strftime('%B %d, %Y') }}</p>
          </div>
            {% if current_user.is_authenticated %}
            <button type="button" class="btn-sm" !important>
              <a class="nav-link" href="{{ url_for('base.edit', slug=post.slug) }}">Edit</a>
            </button>
            <button type="button" class="btn-sm" !important>
              <a class="nav-link" href="{{ url_for('base.delete', slug=post.slug) }}">Delete</a>
            </button>
            {% endif %}
          {% endfor %}
          <hr>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
