<!DOCTYPE html>
<html lang="en">
<header>
<h1>Admin Authentication</h1>
</header>

<div class="column is-4 is-offset-4">
    <h3 class="title">Log In</h3>
    <div class="box">
    <form method="POST" action="{{ url_for('auth.admin') }}">
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
          </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Password" autofocus="">
          </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Log In</button>
    </form>
  </div>
</div>
</html>
