<!DOCTYPE html>
{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename=post_header_img) }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1 class="header-heading">{{ post.title }}</h1>
              <h2 class="header-subheading">{{ post.subtitle }}</h2>
              <span class="meta header-datetime">
                {{ post.date_posted.strftime('%B %d, %Y') }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-content">
            {{ post.content|safe }}
          </div>
        </div>
      </div>
    </article>

    <hr>
{% endblock %}
